.nochat {
  position: absolute;
  width: fit-content;
  height: fit-content;
  inset: 0;
  margin: auto;
  box-sizing: border-box;
  color: #5e9fdc;
  font-size: 1.2rem;
}

.top {
  width: 100%;
}

.welcome {
width: fit-content;
margin: 1.5rem auto;
color: grey;
}

.inputs {
  width: 95%;
  height: 3rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 1rem auto;
  display: flex;
  box-sizing: border-box;
  background-color: white;
  border-radius: 1rem;
  z-index: 2;
}

.chats {
  width: 95%;
  margin: auto;
  height: calc(100vh - 7rem);
  overflow: auto;
  padding: 1rem 0;
  box-sizing: border-box;
}

.input {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: none;
  border: 1px solid #5e9fdc;
  border-radius: 1rem 0 0 1rem;
}

.input:focus {
  border: 2px solid #5e9fdc;
  outline: none;
}

.button {
  width: 20%;
  height: 100%;
  background-color: #5e9fdc;
  color: white;
  border-radius: 0 1rem 1rem 0;
  border: none;
}

.me .msg {
  color: white;
  position: relative;
  padding: 0.3rem;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0.7rem;
  font-size: 0.9rem;
}  

.memessagewrapper {
  box-sizing: border-box;
  margin: 0;
  width: fit-content;
}

.me {
  padding: 0.3rem 1rem;
  background-color: #5e9fdc;  
  border-radius: 0.2rem 0.7rem;
  width: fit-content;
  max-width: 70%;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: 0;
}  

.hemessagewrapper {
  background-color: #ebebeb;
  border-radius: 0.7rem 0.2rem;
  padding: 0.3rem 1rem;
  box-sizing: border-box;
  margin: 0;
  width: fit-content;
}  

.he .msg {
  color: rgb(29, 29, 29);
  position: relative;
  padding: 0.3rem;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0.7rem;
  font-size: 0.9rem;
}

.time {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.6rem;
}

.he {
  width: fit-content;
  max-width: 70%;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  margin-right: auto;
  margin-left: 0;
}

.sender {
  background-color: transparent;
  color: #de582f;
  font-size: 0.8rem;
  box-sizing: border-box;
}