.page2 {
  width: 95%;
  margin: auto;
}

.header2 {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow, .joinbtn {
  color: rgb(173, 172, 172);
  background-color: transparent;
  outline: none;
  border: 0;
  font-size: 1.1rem;
}

.headerjoin {
  box-sizing: border-box;
  padding: 0 1rem;
  flex: 1;
  font-size: 1.3rem;
}

.entercode {
  width: 100%;
  margin: auto;
  color: rgb(42, 42, 42);
}

.entercodeinput {
  box-sizing: border-box;
  width: 100%;
  margin: 1.5rem auto;
  padding: 0 1.5rem;
  height: 3rem;
  background-color: rgb(240, 240, 240);
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

.errormsg {
  color: rgb(237, 22, 22);
  width: fit-content;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .homewrapper {
    width: 700px;
    margin: auto;
  }

  .page2 {
    width: 700px
  }
}